.gistContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 20rem;
  gap: 8rem;
  font-size: 2rem;
}

.gistContainer > p {
  text-align: left;
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 600;
}

.gradient-text {
  font-size: 60px;
  color: transparent;
  background: conic-gradient(
    #ff690c 12%,
    #f56eb3 12%,
    #f56eb3 33%,
    #cb1c8d 33%,
    #cb1c8d 55%,
    #7f167f 55%,
    #7f167f 70%,
    #460c68 70%,
    #460c68 87%,
    #ff690c 87%
  );
  line-height: 90px;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
  cursor: pointer;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .gistContainer {
    height: 120vh;
    padding: 4rem;
    font-size: 20px;
  }
  .gistContainer > p {
    font-weight: 400;
    font-size: 2rem;
  }
  .gradient-text {
    font-size: 40px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .gistContainer {
    padding: 10rem;
    height: 50vh;
  }
}
