.subscribe-card {
  display: flex;
  align-items: center;
  height: 60rem;
  background-color: #F0E9DD;
}

h3{
  font-family: poppins;
  font-size: 18px;
}

.subscribe-card-left {
  width: 50%;
  text-align: center;
}

.subscribe-card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.subscribe-card-right>img{
  height: 300px;
  border-radius: 0.5rem;
}

.subscribe-card-form {
  height: 50px;
  display: flex;
  justify-content: center;
  /* align-items: center;
  gap: 1rem; */
}

.subscribe-card-form>form>input {
  padding: 15px;
  width: 17rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
.subscribe-card-form>form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  /* justify-content: space-evenly; */
  align-items: center;
}

.subscribe-card-form>form>button {
  background-color: #324055;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.subscribe-card-form>p{
  padding-top: 20px;
  font-size: 20px;
}

.warning {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


@media only screen and (max-width: 600px) {
  .subscribe-card{
    padding-top: 5rem;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
  }
  h1{
    font-size: 30px;
    width: 100%;
  }
  .subscribe-card-right>img{
    height: 200px;
    border-radius: 0.5rem;
  }
}