/* form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */

form> .input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.subscribe-form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}

.subscribe-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.subscribe-button:hover {
  background-color: #45a049;
}
