.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.card-container__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.card-container__paragraph {
  text-align: center;
  margin-bottom: 2rem;
  font-family: poppins;
  font-weight: 700;
  font-size: 1.5rem;
}

.course-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 80%;
  margin-top: 2rem;
  padding: 3rem;
}

.course-card {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-card:hover {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.course-card__image {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.course-card__content {
  padding: 2rem;
  text-align: center;
}

.course-card__name {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.course-card__description {
  text-align: left;
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 1rem;
}

b {
  font-family: poppins;
}

.course-card__price {
  text-align: left;
  font-size: 1.4rem;
  color: #324055;
}

.card-container__button {
  text-align: center;
  margin-top: 2rem;
}

.card-container__button > button {
  border-radius: 0.5rem;
  color: white;
  background-color: #324055;
  text-align: center;
  padding: 1.5rem;
}

.course-card__button {
  background-color: #324055;
  border: none;
  color: white;
  padding: 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  font-family: poppins;
}

@media only screen and (max-width: 600px) {
  .course-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
