.aboutContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.team-member-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
  
.about-us-card{
    background-color: #EEE6D8;
    padding-top: 5rem;
}

.team-members{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
}

.team-member>h3{
    text-align: center;
    font-size: 2rem;
}

.team-member>p{
    text-align: center;
    font-size: 1.2rem;
}

.team-members>button{
    color: #D8D2C7;
    background-color: #EEE6D8;
}

.arrow{
    height: 4.5rem;
}

.aboutContent>button{
    background-color: #324055;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 30px;
}

/* button>.view-more-button{
   display: flex;
   align-items: center; 
   text-align: center;
} */

/* .left-arrow{
    display: flex;
    align-items: center;
} */