.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.team-member-image {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

.about-us-card {
  background-color: #eee6d8;
  padding-top: 5rem;
}

.team-members {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6.5rem;
}

.team-member > h3 {
  text-align: center;
  font-size: 2rem;
}

.team-member > p {
  text-align: center;
  font-size: 1.2rem;
}

.team-members > button {
  color: #d8d2c7;
  background-color: #eee6d8;
}

.arrow {
  height: 4.5rem;
}

.aboutContent > button {
  background-color: #324055;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin: 3rem;
}

/* button>.view-more-button{
   display: flex;
   align-items: center; 
   text-align: center;
} */

/* .left-arrow{
    display: flex;
    align-items: center;
} */
