.blog-container h1 {
  margin-top: 100px;
  width: 400px;
}

.blog-container p {
  font-weight: 700;
  margin-top: 20px;
}

/* Second Section */

.blogpage h2 {
  font-family: "Yeseva One";
  margin-bottom: 60px;
}

.blogpage .category-container,
.recent-articles-section {
  text-align: center;
  padding: 100px 80px;
}

.blogpage .carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogpage .carousel {
  display: flex;
}

.blogpage .arrow {
  height: 30px;
  opacity: 0.3;
}

.blogpage .arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Featured Section */

.feature-section {
  background-color: #dee7e7;
  padding: 100px 80px;
  text-align: center;
}

.feature-container {
  display: flex;
}

.feature-image {
  height: 350px;
  width: 50vw;
  border-radius: 15px;
  background-size: cover;
}

.feature-content {
  width: 50vw;
  margin-left: 50px;
  text-align: left;
}

.feature-content h4 {
  font-size: 20px;
  margin: 20px 0;
}

.feature-content p {
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
}

.category-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 0 3rem;
  border-radius: 40px;
  background-color: #f0c4c4;
  font-weight: 600;
  font-size: 13px;
}

/* Recent Articles Section */

.recent-articles-section .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.videoMain {
  padding: 15rem;
  background-color: #f0e9dd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoMain > p {
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  padding: 0 12rem 8rem 12rem;
  font-size: 15px;
}

/* Featured Section */

.feature-section {
  background-color: #dee7e7;
  padding: 100px 80px;
  text-align: center;
}
.feature-section > h2,
.recent-articles-section > p {
  padding-bottom: 20px;
  font-size: 25px;
}

.feature-container {
  display: flex;
}

.feature-image {
  height: 350px;
  width: 50vw;
  border-radius: 15px;
  background-size: cover;
}

.featureContent {
  width: 50vw;
  margin-left: 50px;
  text-align: left;
}

.featureContent h4 {
  font-size: 20px;
  margin: 20px 0;
}

.featureContent p {
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
}

.category-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 0 3rem;
  border-radius: 40px;
  background-color: #f0c4c4;
  font-weight: 600;
  font-size: 13px;
}

/* Recent Articles Section */

.recent-articles-section .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 600px) {
  .articles-section{
      padding: 0;
      width: 100%
  }
} */
