.info-container {
  display: flex;
  flex-direction: column;
  gap: 70px;

  padding-bottom: 100px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.profile-info:nth-child(even) .profile-img {
  order: 2;
}

.profile-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  color: #324055;
  margin-bottom: 30px;
}

.profile-description {
  font-family: "Poppins";
  font-style: normal;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;

  color: #324055;
}

.book-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 50px;

  padding: 200px 280px;
  background: #f0e9dd;
}

.book-call .content {
  text-align: center;
  gap: 24px;
}

.book-call .heading {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 40px;

  color: #324055;
}

.book-call .subheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #324055;
}

.book-call-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  padding: 20px 50px;
  text-align: center;

  color: #f9f7f2;

  background: #324055;

  border-radius: 10px;
}
