.location-map-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.location-container{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.bmButton{
    width: 30%;
    background-color: #324055;
    color: white;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

h5{
    text-align: center;
    font-family: poppins;
    font-size: medium;
    padding-top: 40px;
    padding-bottom: 4.5rem;
}

h4{
    color: #929AAB;
    padding-bottom: 10px;
    font-size: 18px;
}

.location-container>h2, h4, .location-container>p{
    text-align: left;
    font-family: poppins;
    font-weight: 700;
}

.location-container>p{
    font-size: 20px;
}

.map-container{
    padding-right: 2rem;
}

.eventsContainer{
    padding: 4rem;
    height: 60rem;
    background-color: #DEE7E7;
}


@media only screen and (max-width: 600px) {
    .eventsContainer{
        height: 125rem;
    }
    .location-map-container {
      flex-direction: column;
      align-items: center;
    }
    h2, h4, p{
        text-align: center;
    }
    .map-container {
      width: 100%;
      padding: 2rem;
      border-radius: 0.5rem;
    }
    .location-container{
        display: flex;
        align-items: center;
    }
    .location-container>p{
        text-align: center;
        font-size: 18px;
    }
    .bmButton{
        width: 100%;
    }
  }
  